@page "/menu"
@inject IHttpClientFactory _clientFactory

<h1>Main Menu</h1>

<div>
    <table class="table table-light table-hover">
        <thead>
            <tr>
                <th scope="col">Size</th>
                <th scope="col">Dough Multiplier</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var pair in Sizes)
            {
                <tr>
                    <td>@pair.Key</td>
                    <td>@pair.Value</td>
                </tr>
            }
        </tbody>
    </table>

    <table class="table table-light table-hover">
        <thead>
            <tr>
                <th scope="col w-50">Dough</th>
                <th scope="col">Price</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var pair in Dough)
            {
                <tr>
                    <td>@pair.Key</td>
                    <td>@pair.Value</td>
                </tr>
            }
        </tbody>
    </table>

    <table class="table table-light table-hover">
        <thead>
            <tr>
                <th scope="col">Sauce</th>
                <th scope="col">Price</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var pair in Sauces)
            {
                <tr>
                    <td>@pair.Key</td>
                    <td>@pair.Value</td>
                </tr>
            }
        </tbody>
    </table>

    <table class="table table-light table-hover">
        <thead>
            <tr>
                <th scope="col">Topping</th>
                <th scope="col">Price</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var pair in Toppings)
            {
                <tr>
                    <td>@pair.Key</td>
                    <td>@pair.Value</td>
                </tr>
            }
        </tbody>
    </table>
</div>

@*Order Form *@
@* <div>
    <EditForm Model="@order" OnValidSubmit="@HandleSubmit">
        <DataAnnotationsValidator />
        <ValidationSummary />

        <Field>
            <FieldLabel>Name</FieldLabel>
            <TextEdit Placeholder="Enter name" />
        </Field>

        <Row>
            <h5>Pizza</h5>
            <Column ColumnSize="ColumnSize.Is3.WithOffset">
                <Field>
                    <FieldLabel>Size</FieldLabel>
                    <SelectList
                    TItem="Dictionary"
                    TValue="string"
                    Data="@Sizes"
                    TextField="@((item)=>item.MyTextField)"
                    ValueField="@((item)=>item.MyValueField)"
                    SelectedValue="@selectedListValue"
                    SelectedValueChanged="@MyListValueChangedHandler"
                    DefaultItemText="Choose your country" />
                </Field>
            </Column>
        </Row>
    </EditForm>
</div> *@

@code {

    public Dictionary<string, double> Sizes { get; set; } = new();
    public Dictionary<string, double> Dough { get; set; } = new();
    public Dictionary<string, double> Sauces { get; set; } = new();
    public Dictionary<string, double> Toppings { get; set; } = new();
    public Order order { get; set; }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender) {
            var client = _clientFactory.CreateClient("localhost");
            var response = await client.GetStringAsync("menu");
            JsonObject? menu = JsonNode.Parse(response).AsObject();

            var sizes = menu["sizeTable"].AsArray();
            foreach (var obj in sizes)
            {
                Sizes.Add((string)obj["option"], (double)obj["multiplier"]);
            }

            var bases = menu["baseTable"].AsArray();
            foreach (var obj in bases)
            {
                Sauces.Add((string)obj["option"], (double)obj["price"]);
            }

            var dough = menu["doughTable"].AsArray();
            foreach (var obj in dough)
            {
                Dough.Add((string)obj["option"], (double)obj["price"]);
            }

            var toppings = menu["toppingTable"].AsArray();
            foreach (var obj in toppings)
            {
                Toppings.Add((string)obj["option"], (double)obj["price"]);
            }

            StateHasChanged();
        }
    }  
}