@page
@model MenuModel
@{
    ViewData["Title"] = "Menu page";
}

<div class="text-center">
    <h1 class="display-4">Menu</h1>
</div>
@*Menu table *@
<div>
    <table class="table table-dark table-hover">
        <thead>
            <tr>
                <th scope="col">Size</th>
                <th scope="col">Dough Multiplier</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var pair in Model.Sizes)
            {
                <tr>
                    <td>@pair.Key</td>
                    <td>@pair.Value</td>
                </tr>
            }
        </tbody>
    </table>

    <table class="table table-dark table-hover">
        <thead>
            <tr>
                <th scope="col">Dough</th>
                <th scope="col">Price</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var pair in Model.Dough)
            {
                <tr>
                    <td>@pair.Key</td>
                    <td>@pair.Value</td>
                </tr>
            }
        </tbody>
    </table>

    <table class="table table-dark table-hover">
        <thead>
            <tr>
                <th scope="col">Sauce</th>
                <th scope="col">Price</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var pair in Model.Sauces)
            {
                <tr>
                    <td>@pair.Key</td>
                    <td>@pair.Value</td>
                </tr>
            }
        </tbody>
    </table>

    <table class="table table-dark table-hover">
        <thead>
            <tr>
                <th scope="col">Topping</th>
                <th scope="col">Price</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var pair in Model.Toppings)
            {
                <tr>
                    <td>@pair.Key</td>
                    <td>@pair.Value</td>
                </tr>
            }
        </tbody>
    </table>
</div>

@*Order Form *@
<form>
  <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">Customer Name</label>
    <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
  </div>
  <div class="mb-3">
    <label for="text" class="form-label">Pizzas</label>
    @while (true)
    {

        <div class="row">
            <select class="form-select" asp-for="Order.Size" id="pizzaOrderSize"
            asp-items="@(new SelectList(Model.Sizes.keys,"Id","Name"))">
            <option value="-1" selected>Please choose pizza size</option>
            </select>
        </div>
    }
  </div>
  <div class="mb-3 form-check">
    <input type="checkbox" class="form-check-input" id="exampleCheck1">
    <label class="form-check-label" for="exampleCheck1">Check me out</label>
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>