@page
@model MenuModel
@{
    ViewData["Title"] = "Menu page";
}

<div class="text-center">
    <h1 class="display-4">Menu</h1>
</div>
@*Menu table *@
<div>
    <table class="table table-light table-hover">
        <thead>
            <tr>
                <th scope="col">Size</th>
                <th scope="col">Dough Multiplier</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var pair in Model.Sizes)
            {
                <tr>
                    <td>@pair.Key</td>
                    <td>@pair.Value</td>
                </tr>
            }
        </tbody>
    </table>

    <table class="table table-light table-hover">
        <thead>
            <tr>
                <th scope="col w-50">Dough</th>
                <th scope="col">Price</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var pair in Model.Dough)
            {
                <tr>
                    <td>@pair.Key</td>
                    <td>@pair.Value</td>
                </tr>
            }
        </tbody>
    </table>

    <table class="table table-light table-hover">
        <thead>
            <tr>
                <th scope="col">Sauce</th>
                <th scope="col">Price</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var pair in Model.Sauces)
            {
                <tr>
                    <td>@pair.Key</td>
                    <td>@pair.Value</td>
                </tr>
            }
        </tbody>
    </table>

    <table class="table table-light table-hover">
        <thead>
            <tr>
                <th scope="col">Topping</th>
                <th scope="col">Price</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var pair in Model.Toppings)
            {
                <tr>
                    <td>@pair.Key</td>
                    <td>@pair.Value</td>
                </tr>
            }
        </tbody>
    </table>
</div>

@{
    SelectList sizeList = new SelectList(Model.Sizes, "Key", "Key");
    SelectList doughList = new SelectList(Model.Dough, "Key", "Key");
    SelectList sauceList = new SelectList(Model.Sauces, "Key", "Key");
    SelectList toppList = new SelectList(Model.Toppings, "Key", "Key");
}

@*Order Form *@
<div class="container page-header bg-gradient-primary-to-secondary page-header-dark">
    <form method="post">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="mb-3">
            <label class="form-label">Customer Name</label>
            <input asp-for="Order.CustomerName" type="text" class="form-control">
            <span asp-validation-for="Order.CustomerName" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <h5>Pizza</h5>
            <div class="row">
                <div class="col-md-3 mb-3">
                    <label class="form-label">Size</label>
                    <select class="form-select form-select-lg mb-3" asp-for="Order.Pizza.Size" asp-items="sizeList"></select>
                    <span asp-validation-for="Order.Pizza.Size" class="text-danger"></span>
                </div>
                <div class="col-md-3 mb-3">
                    <label for="Dough" class="form-label">Dough</label>
                    <select class="form-select form-select-lg mb-3" asp-for="Order.Pizza.Dough" asp-items="doughList"></select>
                    <span asp-validation-for="Order.Pizza.Dough" class="text-danger"></span>
                </div>
                <div class="col-md-3 mb-3">
                    <label for="BaseSauce" class="form-label">Sauce</label>
                    <select class="form-select form-select-lg mb-3" asp-for="Order.Pizza.BaseSauce" asp-items="sauceList"></select>
                    <span asp-validation-for="Order.Pizza.BaseSauce" class="text-danger"></span>
                </div>
                <div class="col-md-3 mb-3">
                    <label for="Toppings" class="form-label">Toppings</label>
                    <select class="form-select form-select-lg mb-3" multiple asp-for="Order.Pizza.Toppings" asp-items="toppList"></select>
                    <span asp-validation-for="Order.Pizza.Toppings" class="text-danger"></span>
                </div>
            </div>
        </div>
        <button type="submit" id="SubmitModal" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop">Submit</button>
    </form>
</div>

@section Scripts {
    @if (Model.isSubmitClicked == true)
    {
        <script>
            $('#staticBackdrop').modal("show");
        </script>
    }
} 

<!-- Modal -->
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">Order Submitted &#x1F60a; </h5>
      </div>
      <div class="modal-body">
        <h6 class="col-md-12">@TempData["message"] LE &#128176;</h6>
      </div>
    </div>
  </div>
</div>
