@page
@model MenuModel
@{
    ViewData["Title"] = "Menu page";
}

<div class="text-center">
    <h1 class="display-4">Menu</h1>
</div>
@*Menu table *@
<div>
    <table class="table table-light table-hover">
        <thead>
            <tr>
                <th scope="col">Size</th>
                <th scope="col">Dough Multiplier</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var pair in Model.Sizes)
            {
                <tr>
                    <td>@pair.Key</td>
                    <td>@pair.Value</td>
                </tr>
            }
        </tbody>
    </table>

    <table class="table table-light table-hover">
        <thead>
            <tr>
                <th scope="col w-50">Dough</th>
                <th scope="col">Price</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var pair in Model.Dough)
            {
                <tr>
                    <td>@pair.Key</td>
                    <td>@pair.Value</td>
                </tr>
            }
        </tbody>
    </table>

    <table class="table table-light table-hover">
        <thead>
            <tr>
                <th scope="col">Sauce</th>
                <th scope="col">Price</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var pair in Model.Sauces)
            {
                <tr>
                    <td>@pair.Key</td>
                    <td>@pair.Value</td>
                </tr>
            }
        </tbody>
    </table>

    <table class="table table-light table-hover">
        <thead>
            <tr>
                <th scope="col">Topping</th>
                <th scope="col">Price</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var pair in Model.Toppings)
            {
                <tr>
                    <td>@pair.Key</td>
                    <td>@pair.Value</td>
                </tr>
            }
        </tbody>
    </table>
</div>

@*Order Form *@
<div class="container">
    <form method="post">
    <div class="mb-3">
        <label class="form-label">Customer Name</label>
        <input type="text" class="form-control" asp-for="myOrder.CustomerName">
    </div>
    <div class="mb-3">
        <h5>Pizzas</h5>
        @{CreatePizza();}
        @* <div class="row">
            <button class="btn btn-success col-md-2 col-md-offset-5" onclick="">Add Pizza</button>
        </div> *@
    </div>
    <button type="submit"  class="btn btn-primary">Submit</button>
    </form>
</div>

<div class="row">
    <h6 class="col-md-12">@ViewData["message"]</h6>
</div>
@functions 
{
    public async Task CreatePizza()
    {
        <div class="row">
            <div class="col-md-3 mb-3">
                <label class="form-label">Size</label>
                <select class="form-select form-select-lg mb-3" asp-items="new SelectList(Model.Sizes.Keys)" asp-for="">
                    <option selected>Choose a size</option>
                </select>
            </div>
            <div class="col-md-3 mb-3">
                <label for="Dough" class="form-label">Dough</label>
                <select class="form-select form-select-lg mb-3" asp-items="new SelectList(Model.Dough.Keys)">
                    <option selected>Choose a dough type</option>
                </select>
            </div>
            <div class="col-md-3 mb-3">
                <label for="BaseSauce" class="form-label">Sauce</label>
                <select class="form-select form-select-lg mb-3" asp-items="new SelectList(Model.Sauces.Keys)">
                    <option selected>Choose a sauce</option>
                </select>
            </div>
            <div class="col-md-3 mb-3">
                <label for="Toppings" class="form-label">Toppings</label>
                <select class="form-select form-select-lg mb-3" multiple asp-items="@(new MultiSelectList(Model.Toppings.Keys))">
                    <option selected>Choose toppings</option>
                </select>
            </div>
        </div>
    }
}